body {
    background-color: #000;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #000;
    height: 100%;
    color: #FFFFFF;
}

#player {
    /*width: calc(100% - 225px);*/
}