body{
    /*color del texto*/
    color: white;
    background-color: black;
}

#page-wrapper{
    /*color de fondo del contenido*/
    background-color: #0b0b0b;
}

/*color de botones del player*/
.player-button{
    background-color: #172D56;
    color: white;
}
/*Color por defecto*/
.song-controls > a {
    color: white;
}
/*color en hover*/
tr:hover .song-controls > a {
    color: #e04e4e;
}

/*player playhead*/
#playhead{
    background: #e04e4e;
    opacity: .7;
}



/*encabezado de la tabla de la lista de canciones*/
#song-list table th {
    /*background-color: #172D56;*/
}

/* color de fondo del menu y sidebar*/
.navbar-inverse, side, .list-item-link-container, #side-panel{
    background-color: #0A1426;
}

/* color de text del menu */
nav.navbar a {
    color: #b0b5be;
}
/*Menu items hover*/
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #172D56;
    color: white;
}

/* la parte de arriba*/
header{
    background-color: black;
    color: white; /*color del texto e iconos*/
}

/*/!*color de los botones en la lista de canciones*!/*/
/*.song-controls > a {*/
    /*color: #e04e4e;*/
/*}*/

/*scrollbar fondo*/
::-webkit-scrollbar {
    background: #0b0b0b;
}

/*scrollbar */
::-webkit-scrollbar-thumb {
    background: #0A1426;
}

.list-item-link-container{

}
