

#song-list table {
    border-width: 0px;
    border-color: #222;
    border-collapse: collapse;
}
#song-list table th {
    border-bottom: 1px solid white;
}
#song-list table tr {
    /*border-bottom: 1px #222 solid;*/
}
#song-list table tbody td {
    padding: 8px;
    white-space: nowrap;
}